.disp-img {
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.grid-box {
    width: 15rem;
    height: 15rem;
    border: 1px solid #ffffff85;
    margin: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 5rem;
  }

  .grid {
    justify-content: center;
    text-align: center;
    display: flex;
  }
  
  .popup {
    margin: 70px auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 40%;
    height: 30%;
    top: 180px;
    left: 140px;
    position: relative;
    /* transition: all 5s ease-in-out; */
    text-align: center;
    color: blue;
  }

  @media screen and (max-width: 768px){

    .popup{
      width: 90%;
      height: 40%;
      overflow: hidden;
      top: 100px;
      left: 20px;
    }

    .grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content{
        width: 100%;
    }
  }
  