.teams {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content {
  justify-content: space-between;
  align-items: center;
}

.box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
  max-width: 50rem;
}
