/* .navBar{
    width: 15%;
    min-width: 10rem;
    height: 100vh;
    align-items: center;
    padding-block:4rem ;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.navBar-hamB{
    display: none;
    transition-duration: 300ms;
}

.navBar-hamMenu{
    gap:9rem;
}

.navBar-hamMenuLabels{
    display: none;
}

.navBar-iconTray{
    align-items: center;
    gap: 3.5rem;
}

.navBar-teamDetails{
    align-items: center;
    gap: 1rem;
}

@media (max-width: 35rem){
    .navBar-hamB{
        display: block;
        background-color: transparent;
        border: none;
    }
    .navBar{
        width: 100%;
        height: max-content;
        padding: 0;
    }
    .navBar-top{
        width: 100%;
        background-color: rgba(31, 32, 56, 0.46);
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .navIcons{
        display:none;
    }
    .navBar-hamMenu{
        justify-content: space-around;
        height: 0vh;
        overflow: hidden;
        width: 100%;
        align-items: center;
        transition-duration: 600ms;
        background-color: #0909099d;
        gap: 0;
    }
    .navBar-hamMenuLabels {
        display: block;
        text-align: center;
    }
}

a{
    text-decoration: none !important;
} */

.navBar{
    width: 15%;
    min-width: 10rem;
    height: 100vh;
    align-items: center;
    padding-block:4rem ;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.navBar-hamB{
    display: none;
    transition-duration: 300ms;
}

.navBar-hamMenu{
    gap:9rem;
}

.navBar-hamMenuLabels{
    display: none;
}

.navBar-iconTray{
    align-items: center;
    gap: 3.5rem;
}

.navBar-teamDetails{
    align-items: center;
    gap: 1rem;
}

@media (max-width: 35rem){
    .navBar-hamB{
        display: block;
        background-color: transparent;
        border: none;
    }
    .navBar{
        width: 100%;
        height: max-content;
        padding: 0;
    }
    .navBar-top{
        width: 100%;
        background-color: rgba(31, 32, 56, 0.46);
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .navIcons{
        display:none;
    }
    .navBar-hamMenu{
        justify-content: space-around;
        height: 0vh;
        overflow: hidden;
        width: 100%;
        align-items: center;
        transition-duration: 600ms;
        background-color: #0909099d;
        gap: 0;
    }
    .navBar-hamMenuLabels {
        display: block;
        text-align: center;
        height: max-content;
    }
}

a{
    text-decoration: none !important;
}